@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

$opensans: 'Open Sans Condensed', sans-serif;

    $vacation : #D90F5A;
    $public: #F8CA00;
    $training: #3A89C9;

    $darkgray: #333333;
    $lightgray: #F6F6F6;
    $bourdeux: #9E0C39;
	$pink_brand: #E21B5A;

	$logo_link: '../images/logo.png';
	$zoom_icon: '../images/zoom.png';
	$select_icon: '../images/arrow_select.png';
	$human_icon: '../images/human_icon.png';
	$arrow_left: '../images/arrow_left.png';
	$arrow_right: '../images/arrow_right.png';
	$close_icon: '../images/close_icon.png';

