
@import "compass/css3/box-sizing";
@import "grid.scss";
@import "brand.scss";
@import "../../bower_components/normalize.scss/normalize.scss";
    

    body {
      //margin: 0px 0 0 20px;
    }

    body {
      background-color: $darkgray;
    }

    .topnav {
      width: 100%;
      height: 50px;
      background-color: $pink_brand;
    }

    .logo {
      float: left;
      height: 30px;
      width: 178px;
      background-image: inline-image($logo_link);
      background-size: contain;
      margin: 10px 16px 0;

    }

    .zoom_cont {
      position: absolute;
      width: 60px;
      height: 25px;
      margin:20px;
      z-index: 999;
    }
    .zoom {
      float: left;
      width: 30px;
      height: 25px;
      background-image: inline-image($zoom_icon);
      cursor: pointer;

        &._in {
        }
        &._out {
          background-position: 30px center;
        }
    }

    .custom_link {
      display: inline-block;
      font-family: $opensans;
      font-size: 16px;
      color: $pink_brand;
      text-decoration: underline;
      cursor: pointer;
    }

    .close_btn {
      position: absolute;
      width: 78px;
      height: 156px;
      top: 50%;
      right: 10px;
      margin-top: -73px;
      background-color: rgba(0,0,0,0.5);
      color: white;
      z-index: 9;  
    }

    .right__{
      margin-top: -20px;
      font-family: $opensans;
      background-color: $lightgray;
      
      .profile_name,
      .profile_position {
        width: 100%;
      }
      .profile_name {
        padding-top: 40px;
        padding-bottom:10px;
        font-size: 32px;
      }
      .profile_position {
        font-size: 20px;
      }
      .profile_pic {
        padding: 20px;
        img {
          width: 100%;
          // padding: 20px;
          border-radius: 50%;
          -webkit-box-shadow: 3px 8px 40px -5px rgba(66,66,66,1);
          -moz-box-shadow: 3px 8px 40px -5px rgba(66,66,66,1);
          box-shadow: 3px 8px 40px -5px rgba(66,66,66,1);
        }
        @include clearfix;
      }

      .infoevents {
        list-style: none;
        float:left;
        width: 100%;
        margin: 10px 10px 10px -20px;
          li {
            position: relative;
            float:left;
            height:30px;
            width:30px;
            margin-left: 10px;
            margin-top: 12px;
            border-radius: 50%;
           -moz-border-radius: 50%;
           -webkit-border-radius: 50%;
            &.P {
              background:$public;
            }
            &.T {
              background:$training;
            }
            &.V {
              background:$vacation;
            }
            .AM {
              position: absolute;
              width:32px;
              height:16px;
              top:50%;
              left: -1px;
              background:$lightgray;
              border-radius: 0px 90px 0 0;
             -moz-border-radius: 90px 90px 0 0;
             -webkit-border-radius: 0px 0px 90px 90px;
            }
            .PM {
              position: absolute;
              width:32px;
              height:16px;
              top:-1px;
              left: -1px;
              background:$lightgray;
              border-radius: 90px 90px 0 0;
             -moz-border-radius: 90px 90px 0 0;
             -webkit-border-radius: 90px 90px 0 0;
            }
          }
          &:empty {
            display: none;
          }
      }
      
        .right__content {
          display: none;
        }
        &.open .right__content{
          display: block;
        }
    }


    .circle {
      position: absolute;
      height:45px;
      width:90px;
      z-index: 1;
      top: 50%;
      background-color: rgba(0,0,0,0.5);
      background-size: 40%;
      background-position: center;
      background-repeat: no-repeat;
      color: blue;
      border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
      -webkit-transition: right .3s ease, left .3s ease;
      -moz-transition: right .3s ease, left .3s ease;
      -o-transition: right .3s ease, left .3s ease;
      -ms-transition: right .3s ease, left .3s ease;
      transition: right .3s ease, left .3s ease;
      cursor: pointer;
        &.close {
          background-image: inline-image($close_icon);
          background-position: center 14px;
        }
        &.left {
          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
          transform: rotate(90deg);
          left: -40px;
            &:hover{
              background-color: rgba(0,0,0,0.8);
              left: -23px;
            }
            &.arrow {
              background-image: inline-image($arrow_left);
            }
        }
        &.right{
          -ms-transform: rotate(-90deg); /* IE 9 */
          -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
          transform: rotate(-90deg);
          right: -23px;
          &:hover{
            background-color: rgba(0,0,0,0.8);
            right: -24px;
          }
          &.arrow {
              background-image: inline-image($arrow_left);
            }
        }
    }

   .legend {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 10px;
      
      span{
        margin-left: 5px;
      }
      span:first-child {
        float: left;
        width: 30px;
        height: 30px;
        border: 3px solid;
        border-radius: 50%;
      }
      &.vacation span {
        border-color: $vacation;
        color: $vacation;
      }
      &.training span {
        border-color: $training;
        color: $training;
      }
      &.public span {
        border-color: $public;
        color: $public;
      }
   }

    .styled-select {
      width: 100%;
      height: 34px;
      overflow: hidden;
      background: inline-image($select_icon);
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: 96% center;
      border: 1px solid $pink_brand;
      color: $pink_brand;
      font-family: $opensans;
      cursor: pointer;

       select {
          background: transparent;
          width: 100%;
          padding: 5px;
          font-size: 16px;
          line-height: 1;
          border: 0;
          border-radius: 0;
          height: 34px;
          -webkit-appearance: none;
       } 
    }

    .align_center {
      text-align: center;
    }
    .align_right {
      text-align: right;
    }
    
    .vis {
      font-family: $opensans;
      &.timeline {
        background-color: $darkgray;
          .currenttime {
            background-color: $bourdeux;
          }
      }
      
      .vispanel.top {
        position: relative;
        background-color: white;
        &:before {
          position: absolute;
          content: '';
          width: 145px;
          height: 60px;
          top: 0px;
          left: -146px;
          background-color: #fff;
          
        }
      }
      .vispanel.left {
        background-color: white;
        color: $darkgray;
      }
    }

    .graph2d {
      .vispanel.top{
        background-color: $darkgray;
      }
      .vis.timeline .timeaxis .text {
        color: $lightgray !important;
      }
      .vispanel.background.horizontal >div .grid.minor{
        visibility: hidden;
      }
      .vispanel.background.horizontal >div .grid.major{
        visibility: hidden;
      }
      .timeaxis .grid{
        &.minor{
          border-color: gray !important;
        }
      }
    }
    
    .graph2d .vispanel.left {
      visibility: hidden;
      width: 0px !important;
    }
    .vis.timeline .publicholiday {
      fill: $public;
      stroke-width: 3px;
      stroke: $public;
    }

    .vis.timeline .vacation {
      fill: $vacation ;
      stroke-width: 3px;
      stroke: $vacation ;
    }

    .vis.timeline .training {
    fill: $training;
    stroke-width: 2px;
    stroke: $training;
    }

    .vis.timeline .item img {
      max-height: 40px;
      border-radius: 50%;
      position: absolute;
      top: -30px;
      left: -14px;
    }
    .vis.timeline .item.range .content {
      overflow: visible;
      cursor: pointer;
    }

    .vis.timeline .item.range.selected {
      background-color: transparent;
      &.V {
        border-color: $vacation;
      }
    }

    .vis.timeline .item.P {
      background-color: transparent;
      border: 1px dotted;
      color : $public;
        img {
          border: 3px solid $public;
        }
    }

    .vis.timeline .item.V {
      background-color: transparent;
      border: 1px dotted;
      color: #D90F5A;

        img {
          border: 3px solid #D90F5A;
        }
    }

    

    .vis.timeline .item.T {
      background-color: transparent;
      border: 1px dotted;
      color: $training;
        img {
          border: 3px solid $training;
        }
    }



    /* create a custom sized dot at the bottom of the red item */
    .vis.timeline .item.red {
      background-color: red;
      border-color: darkred;
      color: white;
      font-family: monospace;
      box-shadow: 0 0 10px gray;
    }
    .vis.timeline .item.dot.red {
      border-radius: 10px;
      border-width: 10px;
    }
    .vis.timeline .item.line.red {
      border-width: 5px;
    }
    .vis.timeline .item.box.red {
      border-radius: 0;
      border-width: 2px;
      font-size: 24pt;
      font-weight: bold;
    }

    .vis.timeline .item.orange {
      background-color: gold;
      border-color: orange;
    }
    .vis.timeline .item.orange.selected {
      /* custom colors for selected orange items */
      background-color: orange;
      border-color: orangered;
    }

    .vis.timeline .item.magenta {
      background-color: magenta;
      border-color: purple;
      color: white;
    }

    /* our custom classes overrule the styles for selected events,
       so lets define a new style for the selected events */
    .vis.timeline .item.selected {
      background-color: white;
      border-color: black;
      color: black;
      box-shadow: 0 0 10px gray;
    }

    /* gray background in weekends, white text color */
  .vis.timeline .timeaxis .grid.saturday,
  .vis.timeline .timeaxis .grid.sunday {
    background: $public;
  }
  .vis.timeline .timeaxis .text.saturday,
  .vis.timeline .timeaxis .text.sunday {
    color: $darkgray;
  }







  .infographica {
    font-family: $opensans;
    color: $lightgray;
      td:first-child{
        border-right: 1px solid;
        padding-right: 20px;
      }
  }

  .infographica__element_row {
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;
        width: 66px;
        height: 66px;
        background-image: inline-image($human_icon);
        cursor: pointer;
          &.backend {
            background-position: center 198px;
          }
          &.manager {
            background-position: center 132px;
          }
          &.businessanalyst {
            background-position: center 66px;
          }
      }
    }
  }