@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import "compass/css3/box-sizing";
@import "grid.scss";

    $opensans: 'Open Sans Condensed', sans-serif;

    $vacation : #D90F5A;
    $public: #F8CA00;
    $training: #3A89C9;

    $darkgray: #333333;
    $lightgray: #F6F6F6;
    $bourdeux: #9E0C39;

    body {
      margin: 20px 0 0 20px;
    }

    body {
      // background-color: $darkgray;
    }
    
    .vis {
      font-family: $opensans;
      &.timeline {
        background-color: $darkgray;
          .currenttime {
            background-color: $bourdeux;
          }
      }
      
      .vispanel.top {
        position: relative;
        background-color: white;
        &:before {
          position: absolute;
          content: '';
          width: 145px;
          height: 56px;
          top: 0px;
          left: -146px;
          background-color: #fff;
          
        }
      }
      .vispanel.left {
        background-color: white;
        color: $darkgray;
      }
    }

    .graph2d {
      .vispanel.top{
        background-color: $darkgray;
      }
      .vis.timeline .timeaxis .text {
        color: $lightgray !important;
      }
      .vispanel.background.horizontal >div .grid.minor{
        visibility: hidden;
      }
      .vispanel.background.horizontal >div .grid.major{
        visibility: hidden;
      }
      .timeaxis .grid{
        &.minor{
          border-color: gray !important;
        }
      }
    }
    
    .graph2d .vispanel.left {
      visibility: hidden;
      width: 0px !important;
    }
    .vis.timeline .publicholiday {
      fill: $public;
      stroke-width: 3px;
      stroke: $public;
    }

    .vis.timeline .vacation {
      fill: $vacation ;
      stroke-width: 3px;
      stroke: $vacation ;
    }

    .vis.timeline .training {
    fill: $training;
    stroke-width: 2px;
    stroke: $training;
    }

    .vis.timeline .item img {
      max-height: 40px;
      border-radius: 50%;
      position: absolute;
      top: -30px;
      left: -14px;
    }
    .vis.timeline .item.range .content {
      overflow: visible;
      cursor: pointer;
    }

    .vis.timeline .item.range.selected {
      background-color: transparent;
      &.V {
        border-color: $vacation;
      }
    }

    .vis.timeline .item.P {
      background-color: transparent;
      border: 1px dotted;
      color : $public;
        img {
          border: 3px solid $public;
        }
    }

    .vis.timeline .item.V {
      background-color: transparent;
      border: 1px dotted;
      color: #D90F5A;

        img {
          border: 3px solid #D90F5A;
        }
    }

    

    .vis.timeline .item.T {
      background-color: transparent;
      border: 1px dotted;
      color: $training;
        img {
          border: 3px solid $training;
        }
    }



    /* create a custom sized dot at the bottom of the red item */
    .vis.timeline .item.red {
      background-color: red;
      border-color: darkred;
      color: white;
      font-family: monospace;
      box-shadow: 0 0 10px gray;
    }
    .vis.timeline .item.dot.red {
      border-radius: 10px;
      border-width: 10px;
    }
    .vis.timeline .item.line.red {
      border-width: 5px;
    }
    .vis.timeline .item.box.red {
      border-radius: 0;
      border-width: 2px;
      font-size: 24pt;
      font-weight: bold;
    }

    .vis.timeline .item.orange {
      background-color: gold;
      border-color: orange;
    }
    .vis.timeline .item.orange.selected {
      /* custom colors for selected orange items */
      background-color: orange;
      border-color: orangered;
    }

    .vis.timeline .item.magenta {
      background-color: magenta;
      border-color: purple;
      color: white;
    }

    /* our custom classes overrule the styles for selected events,
       so lets define a new style for the selected events */
    .vis.timeline .item.selected {
      background-color: white;
      border-color: black;
      color: black;
      box-shadow: 0 0 10px gray;
    }

    /* gray background in weekends, white text color */
  .vis.timeline .timeaxis .grid.saturday,
  .vis.timeline .timeaxis .grid.sunday {
    background: $public;
  }
  .vis.timeline .timeaxis .text.saturday,
  .vis.timeline .timeaxis .text.sunday {
    color: $darkgray;
  }