<button ng-click="showholiday()">Public holiday</button>
<timeline dataset="items" groups="group" holidays="publicholiday"></timeline>
<!-- <select ng-model="test">
  <option value="">All</option>
  <option value="BA">Bussinest Analyst</option>
  <option value="M">Project manager</option>
  <option value="FE">Frontend developer</option>
  <option value="BE">Backend developer</option>
</select> -->
<!-- <eventbox dataset="holidayplan"></eventbox> -->
<!-- <ul style="float:left">
  <li ng-repeat="person in people | filter:{group:test}" ng-bind-html="person.image" ng-click="showEvent(person.name)"></li>
</ul>

<ul style="float:right">
  <li ng-repeat="event in events | filter:{name:personName}" ng-bind="demoment(event.start) + ' ('+event.value+') '+ demoment(event.end)"></li>
</ul>
 -->


 

