
  <!-- TIMELINE SECTION -->
  <div class="grid glutter">
    
    <!-- Interactive Timeline panel -->
    <div class="col-full with_pad" style="z-index:8" ng-class="{'col-2-3': showCal}">
      <timeline dataset="items" groups="group" holidays="publicholiday"></timeline>
    </div>
    <!-- END Interactive Timeline panel -->

    <!-- Interactive Calendar timeline -->
    <div class="col-1-3 showRightPanel" style="padding-top:20px; z-index:9" ng-class="{'open':showCal}">
      <div ng-click="showCal = false" class="circle right close"></div>
      <eventbox class="graph2d" dataset="holidayplan" focus="focus"></eventbox>
    </div>
    <!-- END Interactive Calendar timeline -->

    <!-- Timeline Bottom -->
    <div class="col-full with_pad">
      <div class="col-1-4">
        <div class="styled-select">
          <select ng-options="item.content for item in groups track by item.id" ng-model="refineGroup">
            <option value="">Select a group of people</option>
            <option value="All">All</option>
            <!--option value="BA">Bussiness Analyst</option>
            <option value="M">Project manager</option>
            <option value="FE">Frontend developer</option>
            <option value="BE">Backend developer</option> -->
          </select>
        </div>
      </div>
      <div class="col-1-4 align_center">
        <div class="custom_link" ng-click="showholiday()">Show Public Holidays</div>
      </div>
      <div class="col-1-2 align_right">
        <div class="legend vacation"><span></span><span>Vacation</span></div>
        <div class="legend training"><span></span><span>Training</span></div>
        <div class="legend public"><span></span><span>Public Holiday</span></div>
      </div>
    </div>
    <!-- END Timeline Bottom --> 
  
  </div>
  <!-- END TIMELINE SECTION -->


  
  
  <!-- BOTTOM SECTION -->
  <div class="grid">
    <!-- Left side -->
    <div class="col-2-3 with_pad">
      
      <ul class="pic-list" ng-hide="showInfografica">
        <li class="animate badge_pic" ng-repeat="person in people | filter:{group:groupFilter}" ng-bind-html="person.image" ng-click="showEvent(person)"></li>
      </ul>

      <table class="infographica" ng-show="showInfografica">
        <tr>
          <td>Frontend Developers</td>
          <td class="infographica__element_row">
            <ul>
              <li ng-repeat="person in people | filter:{group:'FE'}" class="frontend roundtip roundtip-effect-2" ng-click="showEvent(person)">
                <span class="roundtip-content" ng-bind-html="person.image"></span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Backend Developers</td>
          <td class="infographica__element_row">
            <ul>
              <li ng-repeat="person in people | filter:{group:'BE'}" class="backend roundtip roundtip-effect-1" ng-click="showEvent(person)">
                <span class="roundtip-content" ng-bind-html="person.image"></span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Project Managers</td>
          <td class="infographica__element_row">
            <ul>
              <li ng-repeat="person in people | filter:{group:'M'}" class="manager roundtip roundtip-effect-5" ng-click="showEvent(person)">
                <span class="roundtip-content" ng-bind-html="person.image"></span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Business Analyst</td>
          <td class="infographica__element_row">
            <ul>
              <li ng-repeat="person in people | filter:{group:'BA'}" class="businessanalyst roundtip roundtip-effect-4" ng-click="showEvent(person)">
                <span class="roundtip-content" ng-bind-html="person.image"></span>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <!-- END Left side -->

   <bottomright></bottomright>
    
  </div>
  <!-- BOTTOM SECTION -->









 

